appdirs==1.4.4
asgiref==3.11.0
Django==6.0.1
django-pwa==2.0.1
djangorestframework==3.17.1
future==1.0.0
gitdb==4.0.12
GitPython==3.1.45
lazygit==1.1
npm==0.1.1
optional-django==0.1.0
php==1.2.1
python-dotenv==1.2.2
smmap==5.0.2
sqlparse==0.5.5
tzdata==2025.3
